<!-- <p
  [ngClass]="hasError ? 'error' : 'success'"
  [ngStyle]="{
    'text-decoration': hasError ? 'underline' : 'unset',
    'font-weight': hasError ? 700 : 400
  }"
> -->
<p
  [ngClass]="{
    sucess: !hasError,
    error: hasError
  }"
  [ngStyle]="{
    'text-decoration': hasError ? 'underline' : 'unset',
    'font-weight': hasError ? 700 : 400
  }"
>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste sint illum,
  dolorum in error fugit, tenetur tempore, optio exercitationem doloremque quae
  atque inventore maxime quas. Fugit rerum quasi eum eos.
</p>

<br />

<button [disabled]="isDisabled" (click)="alternarError()">Click me!</button>
